doctype html
html
  head
    title Mixins
  body

mixin article(tytul)
  .article
    .article-wrapper
      h1= tytul
      if block
        block
      else
        p Nie dostarczono treści

+article('Witaj świecie')

+article('Witaj świecie')
  p to jest mój
  p wspaniały artykuł